<p>Hi there,</p>
<p>Please click the link <a href="<%= authUrl %>">HERE</a> to authorize <%= crmType %> access for <strong><%= company %></strong>:</p>
<p>Once authorized, we’ll start syncing your contact and job data automatically.</p>
<p>Thanks!</p>
